<?xml version="1.0" encoding="UTF-8" ?>
<!--~
  ~ Copyright (c) 2010-2015 meituan.com
  ~ All rights reserved.
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <mappers>
        <mapper resource="dao/article.xml"/>
    </mappers>

</configuration>
